<h1>Sign In</h1>
<%= form_tag sessions_create_url do %>

<%= label_tag :email, "Email:" %>
<%= text_field_tag :email %>

<%= label_tag :password, "Password:" %>
<%= text_field_tag :password %>

<%= submit_tag "Sign In" %>

<% end %>

